#center-container {
    margin-left: 100px;
    margin-right: 100px;
    
}

nav {
    margin-bottom: 10px;
    background-color: azure;
    margin: 0;
    padding: 30px;
    border-bottom: solid 3px black;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;

}

a:hover {
    background-color: #457B9D;
    color: white;
    padding: 20px;
}


.product {
    display: flex;
    flex: 1;
    gap: 50px;
    border-bottom: solid 3px black;
    padding-bottom: 50px;
    margin: 0;
    
}

.product a {
    text-decoration: none;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #457B9D;
    max-width: max-content;
}
.product img {
    width: 500px;
}

.producten {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    gap: 50px;
    text-align: center;
    background-color: azure;
}

.title-producten {
    text-align: center;
}
.gerelateerde-producten {
    background-color: azure;
}
.producten img {
    width: 100px;
}

.product2 img{
    width: 160px;
    text-align: center;
}

.product1 img{
    width: 90px;
    text-align: center;
    
}

.producten a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 10px 50px;
    background-color: #457B9D;
}

.producten a:hover {
    background-color: white;
    color: #457B9D;
}

footer {
    color: black;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(16, 16, 96);
    display: flex;
    justify-content: center;
    gap: 25px;
}

.plus-split {
    display: flex;
    gap: 60px;
    margin-top: 10px;
}

.plus-min {
    border: 1px solid black;
    padding-right: 100px;
    padding-left: 10px;
    background-color: azure;
    justify-content: flex-start;
}
.plus-min p {
    text-align: center;
    padding-right: 30px;
    
}

.logo {
    border: 1px solid black;
    padding: 5px;
}